<!DOCTYPE html>
<html lang="en">
<head>
    <title>Страница не найдена</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        <h1>Ой!</h1>
        <h2>404 Not Found</h2>
        <h4>Извините, запрошенная страница не найдена!</h4>
    </div>
</body>