<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>{% block title %}Главная{% endblock %}</title>
</head>
<body>
    <header>
        <a href="https://accounts.spotify.com/authorize?client_id=a0ae2c9ce97e4fb09acfca1fc0c7aef2&response_type=code&redirect_uri=http%3A%2F%2Fspotify.sshkpp.ru%2FgetCode%2F&scope=user-read-private%20user-read-email&state=34fFs29kd09">zxc</a>
    </header>
    <main>
        {% block table %}

        {% endblock %}
    </main>
</body>
</html>